{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'post/css/indv_post.css' %}">
{% endblock %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div
                class="
                    post
                    col-sm-12
                    col-md-12
                    offset-lg-2
                    col-lg-8 
                    offset-xl-2
                    col-xl-8
                "
            >
                {% load static %}
                <img class="post-img" src="{% get_media_prefix %}/{{ post.cover_img  }}">
                <h2>
                    {{ post.title|capfirst }}
                </h2>
                <p>
                    Author: <small> {{ post.author|capfirst }} </small>
                    |
                    Date Posted: <small>{{ post.time_stamp }}</small>
                </p>
                <hr>
                {{ post.body|safe }}
            </div>
        </div>
    </div>
{% endblock %}