/* Shared Showcase  between the Projects & Post*/
.btn a {
    color: white!important;
    text-decoration: none;
}

a.card {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 1rem!important;
    margin-bottom: 1rem;
    color: black;
    text-decoration: none;
    text-align: center;
}
a.card:hover {
    text-decoration: underline;
}
.card-title {
    font-weight: bold;
}
.proj-cover-img {
    width: 100%;
}